In [1]:
import pandas as pd
from glob import glob
from tqdm import tqdm_notebook
from sklearn.model_selection import train_test_split
import os
import re

In [2]:
ustance_data_path_train = "./src/data/UStanceBR/final_bo_train.csv"
ustance_data_path_valid = "./src/data/UStanceBR/final_bo_valid.csv"
ustance_data_path_test = "./src/data/UStanceBR/final_bo_test.csv"

semeval_data_path_train = "./src/data/twitter_data_naacl/twitter_testCC_seenval/train.csv"
semeval_data_path_valid = "./src/data/twitter_data_naacl/twitter_testCC_seenval/validation.csv"
semeval_data_path_test = "./src/data/twitter_data_naacl/twitter_testCC_seenval/test.csv"

In [3]:
ustance_data_train = pd.read_csv(ustance_data_path_train)
ustance_data_valid = pd.read_csv(ustance_data_path_valid)
ustance_data_test = pd.read_csv(ustance_data_path_test)

semeval_data_train = pd.read_csv(semeval_data_path_train)
semeval_data_valid = pd.read_csv(semeval_data_path_valid)
semeval_data_test = pd.read_csv(semeval_data_path_test)

# Train

## UStanceBR

In [4]:
ustance_data_train.groupby(["seen?", "topic", "label"]).count()

                            tweet  text
seen? topic          label
0     ["bolsonaro"]  2       5648  5648
1     ["cloroquina"] 0       2386  2386
                     1       2410  2410
      ["coronavac"]  0       2434  2434
                     1       2349  2349
      ["globo"]      0       2004  2004
                     1       1603  1603
      ["igreja"]     0       2123  2123
                     1       2158  2158
      ["lula"]       0       2708  2708
                     1       2284  2284

## SemEval-16

In [5]:
semeval_data_train.groupby(["seen?", "topic", "label"]).count()

                                                                tweet  \
seen? topic                                              label
0     ["climate", "change", "is", "a", "real", "conce... 3       1899
1     ["atheism"]                                        0        394
                                                         1        106
                                                         2        124
      ["donald", "trump"]                                0        256
                                                         1        123
                                                         2        222
      ["feminist", "movement"]                           0        425
                                                         1        235
                                                         2        147
      ["hillary", "clinton"]                             0        472
                                                         1        141
                                                         2        224
      ["legalization", "of", "abortion"]                 0        463
                                                         1        135
                                                         2        196

                                                                opinion_towards  \
seen? topic                                              label
0     ["climate", "change", "is", "a", "real", "conce... 3                    0
1     ["atheism"]                                        0                  394
                                                         1                  106
                                                         2                  124
      ["donald", "trump"]                                0                  256
                                                         1                  123
                                                         2                  222
      ["feminist", "movement"]                           0                  425
                                                         1                  235
                                                         2                  147
      ["hillary", "clinton"]                             0                  472
                                                         1                  141
                                                         2                  224
      ["legalization", "of", "abortion"]                 0                  463
                                                         1                  135
                                                         2                  196

                                                                sentiment  \
seen? topic                                              label
0     ["climate", "change", "is", "a", "real", "conce... 3              0
1     ["atheism"]                                        0            394
                                                         1            106
                                                         2            124
      ["donald", "trump"]                                0            256
                                                         1            123
                                                         2            222
      ["feminist", "movement"]                           0            425
                                                         1            235
                                                         2            147
      ["hillary", "clinton"]                             0            472
                                                         1            141
                                                         2            224
      ["legalization", "of", "abortion"]                 0            463
                                                         1            135
                                                         2            196

                                                                text  \
seen? topic                                              label
0     ["climate", "change", "is", "a", "real", "conce... 3      1899
1     ["atheism"]                                        0       394
                                                         1       106
                                                         2       124
      ["donald", "trump"]                                0       256
                                                         1       123
                                                         2       222
      ["feminist", "movement"]                           0       425
                                                         1       235
                                                         2       147
      ["hillary", "clinton"]                             0       472
                                                         1       141
                                                         2       224
      ["legalization", "of", "abortion"]                 0       463
                                                         1       135
                                                         2       196

                                                                target_in_tweet
seen? topic                                              label
0     ["climate", "change", "is", "a", "real", "conce... 3                    0
1     ["atheism"]                                        0                  394
                                                         1                  106
                                                         2                  124
      ["donald", "trump"]                                0                  256
                                                         1                  123
                                                         2                  222
      ["feminist", "movement"]                           0                  425
                                                         1                  235
                                                         2                  147
      ["hillary", "clinton"]                             0                  472
                                                         1                  141
                                                         2                  224
      ["legalization", "of", "abortion"]                 0                  463
                                                         1                  135
                                                         2                  196

# Validation

## UStanceBR

In [6]:
ustance_data_valid.groupby(["seen?", "topic", "label"]).count()

                            tweet  text
seen? topic          label
1     ["cloroquina"] 0        597   597
                     1        603   603
      ["coronavac"]  0        609   609
                     1        587   587
      ["globo"]      0        501   501
                     1        401   401
      ["igreja"]     0        531   531
                     1        540   540
      ["lula"]       0        677   677
                     1        571   571

## SemEval-16

In [7]:
semeval_data_valid.groupby(["seen?", "topic", "label"]).count()

                                                tweet  opinion_towards  \
seen? topic                              label
1     ["atheism"]                        0         70               70
                                         1         18               18
                                         2         21               21
      ["donald", "trump"]                0         43               43
                                         1         25               25
                                         2         38               38
      ["feminist", "movement"]           0         86               86
                                         1         33               33
                                         2         23               23
      ["hillary", "clinton"]             0         93               93
                                         1         22               22
                                         2         32               32
      ["legalization", "of", "abortion"] 0         81               81
                                         1         32               32
                                         2         26               26

                                                sentiment  text  \
seen? topic                              label
1     ["atheism"]                        0             70    70
                                         1             18    18
                                         2             21    21
      ["donald", "trump"]                0             43    43
                                         1             25    25
                                         2             38    38
      ["feminist", "movement"]           0             86    86
                                         1             33    33
                                         2             23    23
      ["hillary", "clinton"]             0             93    93
                                         1             22    22
                                         2             32    32
      ["legalization", "of", "abortion"] 0             81    81
                                         1             32    32
                                         2             26    26

                                                target_in_tweet
seen? topic                              label
1     ["atheism"]                        0                   70
                                         1                   18
                                         2                   21
      ["donald", "trump"]                0                   43
                                         1                   25
                                         2                   38
      ["feminist", "movement"]           0                   86
                                         1                   33
                                         2                   23
      ["hillary", "clinton"]             0                   93
                                         1                   22
                                         2                   32
      ["legalization", "of", "abortion"] 0                   81
                                         1                   32
                                         2                   26

# Test

## UStanceBR

In [8]:
ustance_data_test.groupby(["seen?", "topic", "label"]).count()

                           tweet  text
seen? topic         label
1     ["bolsonaro"] 0        835   835
                    1        577   577

## SemEval-16

In [9]:
semeval_data_test.groupby(["seen?", "topic", "label"]).count()

                                                                tweet  \
seen? topic                                              label
0     ["climate", "change", "is", "a", "real", "conce... 0         26
                                                         1        335
                                                         2        203

                                                                opinion_towards  \
seen? topic                                              label
0     ["climate", "change", "is", "a", "real", "conce... 0                   26
                                                         1                  335
                                                         2                  203

                                                                sentiment  \
seen? topic                                              label
0     ["climate", "change", "is", "a", "real", "conce... 0             26
                                                         1            335
                                                         2            203

                                                                text  \
seen? topic                                              label
0     ["climate", "change", "is", "a", "real", "conce... 0        26
                                                         1       335
                                                         2       203

                                                                target_in_tweet
seen? topic                                              label
0     ["climate", "change", "is", "a", "real", "conce... 0                   26
                                                         1                  335
                                                         2                  203